<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% now "Y" as current_year %}
                <p class="mb-0">&copy; {{ current_year }} NavAccounting. All rights reserved.</p>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <p class="mb-0">Version 1.0.0</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
