<!-- Page Title / Breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">{% block page_title %}Dashboard{% endblock %}</h4>
            <div class="page-title-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            {% if current_tenant %}
                            <a href="{% url 'dashboard:index' tenant_slug=current_tenant.slug %}">
                            {% else %}
                            <a href="/">
                            {% endif %}
                                <i class="bi bi-house-door"></i>
                            </a>
                        </li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title / Breadcrumb -->
