{% load static %}

<!-- Horizontal Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light topnav-menu" id="topnav-menu-content">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="topnav-menu-collapse">
            <ul class="navbar-nav">

                <!-- Dashboard -->
                <li class="nav-item {{ nav_tags.dashboard }}">
                    {% if current_tenant %}
                    <a class="nav-link" href="{% url 'dashboard:index' tenant_slug=current_tenant.slug %}">
                    {% else %}
                    <a class="nav-link" href="/">
                    {% endif %}
                        <i class="bi bi-speedometer2 me-1"></i> Dashboard
                    </a>
                </li>

                <!-- System Administration Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="systemAdminDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-wide-connected me-1"></i> System Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="systemAdminDropdown">
                        <li>
                            {% if current_tenant %}
                            <a class="dropdown-item {{ nav_tags.company }}" href="{% url 'company:setup' tenant_slug=current_tenant.slug %}">
                            {% else %}
                            <a class="dropdown-item" href="#">
                            {% endif %}
                                <i class="bi bi-building me-2"></i> Company Setup
                            </a>
                        </li>
                        <li>
                            {% if current_tenant %}
                            <a class="dropdown-item {{ nav_tags.users }}" href="{% url 'accounts:user_list' tenant_slug=current_tenant.slug %}">
                            {% else %}
                            <a class="dropdown-item" href="#">
                            {% endif %}
                                <i class="bi bi-people me-2"></i> User Management
                            </a>
                        </li>
                        <li>
                            {% if current_tenant %}
                            <a class="dropdown-item {{ nav_tags.roles }}" href="{% url 'roles:list' tenant_slug=current_tenant.slug %}">
                            {% else %}
                            <a class="dropdown-item" href="#">
                            {% endif %}
                                <i class="bi bi-shield-lock me-2"></i> Roles &amp; Permissions
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Analytics Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="analyticsDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-graph-up me-1"></i> Analytics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="analyticsDropdown">
                        <li>
                            {% if current_tenant %}
                            <a class="dropdown-item {{ nav_tags.reports }}" href="#">
                            {% else %}
                            <a class="dropdown-item" href="#">
                            {% endif %}
                                <i class="bi bi-bar-chart me-2"></i> Reports
                            </a>
                        </li>
                        <li>
                            {% if current_tenant %}
                            <a class="dropdown-item {{ nav_tags.forecasting }}" href="#">
                            {% else %}
                            <a class="dropdown-item" href="#">
                            {% endif %}
                                <i class="bi bi-graph-up-arrow me-2"></i> Forecasting
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- End Horizontal Navbar -->
