{% extends "base.html" %}

{% block layout %}
<!-- Horizontal Layout -->
<div id="horizontal-layout">
    {% include "partials/_topbar.html" %}
    {% include "partials/_sidebar_horizontal.html" %}

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% include "partials/_page_title.html" %}
                {% include "partials/_alerts.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include "partials/_footer.html" %}
    </div>
</div>
<!-- End Horizontal Layout -->
{% endblock %}
